<div id="blocked-users" class="container text-center">
	<table class="slider-group">
		<tr>
			<td><a data-route href="/add-friends" id="add-friend-btn" class="sliders-btn btn"
					title="Add new friends">INVITATIONS</a></td>
			<td><a data-route href="/friend-list" id="list-friends-btn" class="sliders-btn btn"
					title="View your friend list">FRIEND LIST</a></td>
			<td><a id="blocked-users-btn" class="sliders-btn btn active" title="View blocked users">BLOCKED</a></td>
		</tr>
	</table>

	<div id="blocked-users-container" class="users-list-container">
		<h3>Blocked Users</h3>
		<div id="blocked-users-list" class="pending-requests-list"></div>
	</div>

	<div class="action-buttons">
		<a data-route href="/dashboard" class="btn btn-secondary custom-btn" id="back-to-dashboard"
			title="Return to dashboard">Back</a>
	</div>

	<template id="blocked-user">
		<div class="friend-item">
			<img data-avatar src=" /static/assets/user_default.png" alt="" class="user-avatar">
			<div data-username class="user-username"></div>
			<div class="user-action">
				<button data-unblock-btn class="btn" title="Unblock this user">
					<img src="/static/assets/unlock.png" alt="Unblock" style="width:24px; height:24px;">
				</button>
			</div>
		</div>
	</template>
</div>