<div id="homepage" class="container text-center">
	<h1 class="my-4">Welcome to Transcendence</h1>
	<p class="mb-4">Online Pong Game</p>
	<div class="btn-group-custom" role="group">
		<a href="/login" data-route id="login-button" class="btn btn-primary custom-btn" title="Login to your account">Login</a>
		<a href="/signup" data-route id="signup-button" class="btn btn-success custom-btn" title="Create a new account">Sign-up</a>
		<!-- <a href="/" id="login42-button" class="btn btn-secondary custom-btn" title="Login with 42 account">Login 42</a> -->
	</div>
</div>