<div id="login" class="container text-center">
	<h2>Login</h2>
	<form id="login-form">
		<input id="username" name="username" type="text" placeholder="Username" autocomplete="username" required>
		<input id="password" name="password" type="password" placeholder="Password" autocomplete="current-password" required>
		<button type="submit" class="btn btn-primary" title="Click to login">Login</button>
	</form>
	<div class="auth-footer">
		<a href="/" class="btn btn-secondary custom-btn" data-route title="Go back to home page">Back to Home</a>
		<p>Don't have an account?</p>
		<a href="/signup" data-route class="btn-link" title="Sign up for a new account">Sign Up</a>
	</div>
</div>
