<div id="password" class="container">
	<h1>Update password</h1>

	<table class="slider-group">
		<tr>
			<td><a data-route href="/user" id="list-friends-btn" class="sliders-btn btn" title="Go to Basic Infos">BASIC
					INFOS</a></td>
			<td><a data-route href="/password" id="blocked-users-btn" class="sliders-btn btn active"
					title="Update Password">PASSWORD</a></td>
		</tr>
	</table>

	<form id="password-form" class="form-list-group">

		<div class="form-group">
			<label for="old_password">Current password</label>
			<input type="password" id="old_password" name="old_password" class="form-control" autocomplete="current-password"
				placeholder="Enter your current password..." required>
		</div>

		<div class="form-group">
			<label for="new_password1">New password</label>
			<input type="password" id="new_password1" name="new_password1" class="form-control" autocomplete="new-password"
				placeholder="Enter a new password..." required>
		</div>

		<div class="form-group">
			<label for="new_password2">Confirm password</label>
			<input type="password" id="new_password2" name="new_password2" class="form-control" autocomplete="new-password"
				placeholder="Confirm your password" required>
		</div>

		<button type="submit" class="btn btn-primary mt-3" title="Save New Password">Save</button>
	</form>

	<div class="action-buttons">
		<a data-route href="/dashboard" class="btn btn-secondary custom-btn" id="back-to-dashboard"
			title="Back to Dashboard">Back</a>
	</div>
</div>